{% extends "base.html" %}

{% block content %}

<div class="card">
    <div class="card-header">
      <h2>>About me : Akshay Mammen Koshy</h2>
    </div>
    <div class="card-body">
      <h5 class="card-title">Enthusiastic Learner and Developer</h5>
      <p class="card-text">I am a student with an avid interest in coding, Machine Learning , Blockchain, and Full stack web development who is working on improving his skills every day.
    </p>
      <a href="https://www.linkedin.com/in/akshay-mammen-koshy/" class="btn btn-primary">Linkedin</a>
    </div>
  </div>




{% endblock %}